*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    margin: 2rem;
}

.calculator-grid {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    justify-content: center;
}

.calculator-grid .output {
    background-color: rgba(0, 0, 0, 0.5);
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    align-items: flex-end;
    color: white;
    justify-content: space-around;
    word-wrap: break-word;
    padding: .75rem;
    word-break: break-all;
}

.calculator-grid .output .current-output {
    font-size: 2.5rem;
}

.calculator-grid .output .previous-output {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, .75);
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    outline: none;
    border: 1px solid white;
}

.calculator-grid>button:hover {
    background-color: white;
}

.span-two {
    grid-column: span 2;
}